body {
	font-family:  "Gotham", "Helvetica Neue", sans-serif;
	font-size: 16px/24px;
	color: #545454;
	overflow-x:hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 { font-weight: 300 }
*,
*:focus { outline: none !important }
a { color: #2d2d2d }
a:hover,
a:focus {
	color: #0c86b6;
	text-decoration: none;
}
.hiding { opacity: 0 }
.showing { opacity: 1 }
.img-rounded {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.btn {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}
.btn-blue {
	color: #fff;
	background-color: #0093cf;
}
.btn-blue:hover,
.btn-blue:focus {
	color: #fff;
	background-color: #2a3940;
}
.btn-green {
	color: #fff;
	background-color: #71be3c;
}
.btn-green:hover,
.btn-green:focus {
	color: #fff;
	background-color: #2a3940;
}
.btn-dark {
	color: #fff;
	background-color: #2a3940;
}
.btn-dark:hover,
.btn-dark:focus {
	color: #fff;
	background-color: #2a3940;
}
.loader {
	position: fixed;
	z-index: 100000;
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.fading-line {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin: -20px 0 0 -20px;
	background-image: url(../img/fading-line.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

#navbar-top { 
	min-height: 80px;
	background-image: url(../img/cover/nav.jpg);
	background-repeat: repeat;
}
.navbar {min-height: 80px;}
.navbar-brand {
	float: left;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 40px;
	height: 80px;
}
.navbar-nav>li>a {
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 40px;
}
.navbar-default {
	background: rgba(39, 130, 87, 0.72);
	border: none;
	margin-bottom: 0;
	border-top: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.navbar-default .navbar-brand {
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}
.navbar-default .navbar-nav > li > a {
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #000;
	background-color: transparent;
}
.navbar-default .navbar-toggle { border-color: transparent }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
.navbar-default .navbar-toggle:hover .icon-bar { background-color: #333 }
.navbar-default.affix {
	top: 0;
	z-index: 99;
	width: 100%;
	border-bottom-color: transparent;
	background-image: url(../img/cover/nav.jpg);
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}

.navbar-default.affix .pagecontainer {
	background: rgba(39, 39, 130, 0.72);
	width:100%;
}

.page { overflow: hidden }
.page .content { padding: 60px 0 }
.page .content.cover { padding: 200px 0; }
.page .heading h2 {
margin-top: 0;
margin-bottom: 20px;
}
.page .border {
	width: 80px;
	height: 2px;
	margin: 0 auto;
	background-color: #71be3c;
}
.page .heading p { margin: 20px auto 0 }
#home {
	padding: 0;
	color: #fff;
	background-image: url(../img/cover/home.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#home h1 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 60px;
}
#home a { margin: 0 5px }
#home h3 {
	margin-top: 20px;
	margin-bottom: 0;
}

#home .container{
	content: '';
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(8, 15, 169, 0.63);
	opacity: 1;
}

#aboutus {
	padding: 0;
	/*	background-image: url(../img/cover/aboutus.jpg);
	background-repeat: repeat;
	background-position: center center;
	background-size: cover;
	background-color: #fff;
	border-bottom: solid 1px #f5f5f5;
	*/
}


#aboutus  .border{
	background-color: #7e0f0f;
}

#aboutus .pagecontainer{
	background: rgba(139, 116, 9, 0.52);
	width: 100%;
	color: white;
}

#aboutus h3 {
	font-size: 22px;
	line-height: 1.6em;
	padding-top: 25px;
	padding-bottom: 15px;
}

.leafPrize{
	font-size: 35px;
	position: absolute;
	margin-left: -37px;
	margin-top: 62px;
	color: red;
}

#register {
	background: url(../img/cover/register.jpg);
	color: white;
	background-position: center center;
	background-size: cover;
}

#register .pagecontainer {
	width: 100%;
	background: rgba(174, 118, 16, 0.92)
}

#register label {
	color : #fff;
}


#register label:after{
	color: red;
	content: "*";
	padding-left: 3px;
}

#prize {
	background-color: #f5f5f5;
	border-bottom: solid 1px #e7e7e7;
}

#prize .service i { margin-top: 60px }

#work .heading p { margin-bottom: 60px }


#rules {
	color: #fff;
	background-color: #2a3940;
	background: url(../img/cover/rules.jpg);
	background-size: cover;
	background-position: center center;
}

#rules .pagecontainer{
	background: rgba(28, 120, 10, 0.76);
	width: 100%;
	color: white;
}

#faq {
	/*   background: url(../img/cover/faq.jpg);
	background-repeat: repeat; */
}

#faq,
#faq a,
#faq a:hover,
#faq a:focus { color: #fff }

#faq a { display: block }

#faq i { margin: 15px 0px 15px; }

#faq .pagecontainer {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(158, 158, 158, 0.01);
	opacity: 1;	
}

.faq-list {
	/*   max-width: 820px;
	margin: 0 auto; */
}

.faq-list ul {
	padding: 0;
}

ul, li {
	list-style: none;
}

#faq .heading h2 {
	color: #000;
}

.faq-list .faq-articles .faq-content {
	display: none;
	color: #666633;
}

.faq-list .faq-articles .faq-content p {
	margin: 5px 5px;
	font-size: 20px;
	font-style: italic;
	color: #000;
	font-weight: normal;
}


.faq-list {
	font-size: 24px;
	font-style: italic;
	color: #000;
	font-weight: bolder;
}


.faq-list .faq-articles {
	cursor: pointer;
	position: relative;
	font-family: 'Whitney SSm A', 'Whitney SSm B';
}

.fa-asterisk{
	color: #adff2f;
}


#footer {
	padding: 40px 0;
	color: #ccc;
	text-align: center;
	background-color: #2a3940;
}
#footer a,
#footer a:hover,
#footer a:focus { color: #fff }
#footer .social { margin-bottom: 20px }
#footer .social li .facebook:hover,
#footer .social li .facebook:focus { color: #3b5998 }
#footer .social li .twitter:hover,
#footer .social li .twitter:focus { color: #00aced }
#footer .social li .google-plus:hover,
#footer .social li .google-plus:focus { color: #d34836 }
#footer .social li .dribbble:hover,
#footer .social li .dribbble:focus { color: #ea4c89 }

#footer .social li .linkedin:hover,
#footer .social li .linkedin:focus { color: #0077b5 }

#footer .copyright { margin-bottom: 0 }

.work .title {
	color: #222;
}


.fa-star{
	color: #ffd700;
}

.fa-star-half-o {
	color: #c0c0c0;
}

.fa-star-o{
	color: #CD7F32;
}

.width100 {
	width : 100% !important;
}

.hrstyle{
	height: 1px;
	margin: 0 auto;
	background-color: #71be3c;
}


.leaf-font {
	position: absolute;
	z-index: -9;
	margin-left: -5px;
	color: green;
}


.red {
	color: #ff0000;
}

.PL-10 {
	padding-left :10px;
}

/* Responsive style */
@media screen and (max-width: 1024px) { 

}

@media screen and (max-width: 991px) { 

}

@media (max-width: 767px) { 
	.page .content.cover { padding: 160px 0 }
}

@media (max-width: 480px) { 
	.page .content.cover { padding: 80px 0 }
}